.MainWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;
}
.VideoWrapper {

}
.Video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}
.Video.ShowVideo {
  visibility: visible;
  opacity: 1;
}
.finalImageWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  transition: 0.4s;
  z-index: 99;
}
.finalImageWrapper button {
  margin-top: 15px;
}
.finalImageWrapper .NumberMainWrapper {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.finalImageWrapper .NumberMainWrapper.ShowNumberMainWrapper {
  visibility: visible;
  opacity: 1;
}
.finalImageWrapper .NumbersWrapper {
  display: flex;
  flex-wrap: wrap;
}

.finalImageWrapper .NumberWrapper {
  position: relative;
}
.finalImageWrapper img {
  width: 150px;
}
.finalImageWrapper .Number {
  font-size: 40px;
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ButtonWrapper button {
  width: 100%;
}
.card, .card:before, .card:after {
  border-radius: 100%;
}
.card {
  margin: 0px 5px;
}
.bounce {
  animation: bounce 2s;
  animation-direction: alternate;
  animation-iteration-count: 1;
}
@keyframes bounce {
  0% {transform: translateY(-200%); animation-timing-function: ease-in;}
  11% {transform: translateY(0%);   animation-timing-function: ease-out; }
  22% {transform: translateY(-150%); animation-timing-function: ease-in;}
  33% {transform: translateY(0%);   animation-timing-function: ease-out;}
  44% {transform: translateY(-100%); animation-timing-function: ease-in;}
	55% {transform: translateY(0%);   animation-timing-function: ease-out;}
  66% {transform: translateY(-50%); animation-timing-function: ease-in;}
	77% {transform: translateY(0%);   animation-timing-function: ease-out;}
  88% {transform: translateY(-25%); animation-timing-function: ease-in;}
	100% {transform: translateY(0%);   animation-timing-function: ease-out;}
}

@media screen and (max-width: 991px) {
  .finalImageWrapper img {
    width: 125px;
  }
  .finalImageWrapper .Number {
    font-size: 30px;
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .finalImageWrapper img {
    width: 100px;
  }
  .finalImageWrapper .Number {
    font-size: 24px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .finalImageWrapper img {
    width: 75px;
  }
  .finalImageWrapper .Number {
    font-size: 20px;
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 480px) {
  .finalImageWrapper img {
    width: 65px;
  }
  .finalImageWrapper .Number {
    font-size: 16px;
    width: 25px;
    height: 25px;
  }
}